<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Register!</title>
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-4">Register!</h1>

        {{ errors }}

        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="username">Username</label>
                <input type="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    name="username">
                <small id="emailHelp" class="form-text text-muted">{{ form.username.help_text }}</small>
            </div>
            <div class="form-group">
                <label for="first_name">First name</label>
                <input type="first_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    name="first_name">
                <small id="emailHelp" class="form-text text-muted">{{ form.email.help_text }}</small>
            </div>
            <div class="form-group">
                <label for="last_name">Last name</label>
                <input type="last_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    name="last_name">
                <small id="emailHelp" class="form-text text-muted">{{ form.first_name.help_text }}</small>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    name="email">
                <small id="emailHelp" class="form-text text-muted">{{ form.last_name.help_text }}</small>
            </div>
            <div class="form-group">
                <label for="password2">Password</label>
                <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    name="password1">
                <small id="emailHelp" class="form-text text-muted">{{ form.password1.help_text }}</small>
            </div>
            <div class="form-group">
                <label for="password2">Confirm password</label>
                <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    name="password2">
                <small id="emailHelp" class="form-text text-muted">{{ form.password2.help_text }}</small>
            </div>
            <input type="submit" class="btn btn-primary btn-dark">
        </form>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/welcome_carousel/img1.jpg" class="d-block w-100">
            </div>
        </div>
    </div>
</body>

</html>