{% extends "base.html" %}

{% block title %}Confirm password change!{% endblock %}

{% block main %}
<div class="jumbotron">
  {% if validlink %}
  <form class="ml-3"  method="post">
    <h3 class="display-6 ml-3 mt-3">Please change your password here!</h3>
    {% csrf_token %}
    <div class="form-group">
      <label class="ml-3 mt-3" for="id_new_password1">New password</label>
      <input type="password" class="form-control ml-3 mb-3 mr-3" autocomplete="new-password" required id="id_new_password1" name="new_password1">
      <label class="ml-3 mt-3" for="id_new_password2">Confirm password</label>
      <input type="password" class="form-control ml-3 mb-3 mr-3" autocomplete="new-password" required id="id_new_password2" name="new_password2">
    <button class="btn btn-primary btn-dark ml-3" type="submit">Change password</button>
    </div>
  </form>
  {% else %}
  <h6>
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password <a href="{% url 'password_reset' %}">reset</a>.
  </h6>
  {% endif %}
</div>
{% endblock %}