{% extends "base.html" %}

{% block title %}Forgot password?{% endblock %}


{% block main %}
<div class="jumbotron">
  <form class="ml-3"  method="post">
    <h3 class="display-6 ml-3 mt-3">If you forgot password, please provide us your email to reset it!</h3>
    {% csrf_token %}
    <div class="form-group">
      <label class="ml-3 mt-3" for="email">Email</label>
      <input type="email" class="form-control ml-3 mb-3 mr-3" id="exampleInputEmail1" aria-describedby="emailHelp"
          name="email">
    <button class="btn btn-primary btn-dark ml-3" type="submit">Submit</button>
    </div>
  </form>
</div>
{% endblock %}
